name: Python CI

on:
  push:
    branches:
      - main  # or the branch you want to trigger on
  pull_request:
    branches:
      - main  # or the branch you want to trigger on

jobs:
  test:
    runs-on: ubuntu-latest  # You can also use windows-latest or macos-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'  # Set your desired Python version
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip freeze > requirements.txt
          pip install -r requirements.txt  # If you have a requirements file
          pip install pytest  # Directly install pytest or any other dependencies

        
      - name: Run tests
        run: |
          pytest app.py --maxfail=1 --disable-warnings -q


