absl-py==2.0.0
Adafruit-Blinka==8.24.0
adafruit-board-toolkit==1.1.1
Adafruit-CharLCD==1.1.1
adafruit-circuitpython-74hc595==1.4.3
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-charlcd==3.4.9
adafruit-circuitpython-dht==4.0.3
adafruit-circuitpython-mcp230xx==2.5.12
adafruit-circuitpython-requests==2.0.2
adafruit-circuitpython-typing==1.9.5
Adafruit-GPIO==1.0.3
Adafruit-PlatformDetect==3.53.0
Adafruit-PureIO==1.1.11
affine==2.4.0
aiohttp==3.9.5
aiosignal==1.3.1
altgraph==0.17.4
anyio==4.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.3.0
Babel==2.15.0
beautifulsoup4==4.12.3
bidict==0.22.1
binaryornot==0.4.4
bitarray==2.8.5
bitstring==4.1.4
bleach==6.1.0
blinker==1.7.0
board==1.0
briefcase==0.3.16
build==1.0.3
buildozer==1.5.0
CacheControl==0.14.0
cachetools==5.3.2
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
clr-loader==0.2.6
colorama==0.4.6
comm==0.2.2
comtypes==1.2.0
contextily==1.6.0
contourpy==1.2.0
controller==0.1.0
cookiecutter==2.5.0
cryptography==41.0.7
cvzone==1.6.1
cycler==0.12.1
Cython==3.0.10
debugpy==1.8.1
decorator==5.1.1
deepface==0.0.90
defusedxml==0.7.1
distlib==0.3.8
docutils==0.20.1
ecdsa==0.18.0
embedbase==1.2.8
esptool==4.6.2
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==2.0.1
fastapi==0.95.2
fastjsonschema==2.19.1
filelock==3.13.1
fiona==1.9.6
fire==0.6.0
firebase==4.0.1
firebase-admin==6.5.0
Flask==3.0.3
flatbuffers==24.12.23
fonttools==4.44.0
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.3.1
future==0.18.3
fuzzywuzzy==0.18.0
gast==0.5.4
gdown==5.1.0
geographiclib==2.0
geopandas==0.14.4
geopy==2.4.1
georinex==1.16.1
gitdb==4.0.11
GitPython==3.1.40
gnss==0.3.1
gnss-lib-py==1.0.2
google-api-core==2.18.0
google-api-python-client==2.125.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
gpiod==1.5.4
gps3==0.33.3
grpcio==1.62.1
grpcio-status==1.62.1
gunicorn==22.0.0
h11==0.14.0
h5py==3.12.1
hatanaka==2.8.1
httpcore==1.0.2
httplib2==0.22.0
httptools==0.6.1
httpx==0.25.1
idna==3.4
imageio==2.34.0
imbalanced-learn==0.11.0
importlib-metadata==6.8.0
importlib-resources==6.1.1
iniconfig==2.0.0
ipykernel==6.29.4
ipython==8.18.1
ipywidgets==8.1.2
iso8601==2.1.0
isoduration==20.11.0
itsdangerous==2.2.0
jax==0.4.26
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.25
jsonpointer==2.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.1
jupyter_server_terminals==0.5.3
jupyterlab==4.2.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.2
jupyterlab_widgets==3.0.10
kaleido==0.2.1
keras==3.8.0
keyboard==0.13.5
Kivy==2.2.1
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-examples==2.2.1
Kivy-Garden==0.1.5
kivymd==1.2.0
kiwisolver==1.4.5
labyrinth-py==1.0.4
Levenshtein==0.25.1
libclang==16.0.6
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.1
matplotlib-inline==0.1.6
mdurl==0.1.2
mediapipe==0.10.11
mercantile==1.2.1
mistune==3.0.2
ml-dtypes==0.4.1
mpmath==1.3.0
msgpack==1.0.8
mtcnn==0.1.1
multidict==6.0.5
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
ncompress==1.0.2
nest-asyncio==1.6.0
networkx==3.2.1
notebook==7.2.1
notebook_shim==0.2.4
numpy==1.26.2
oauthlib==3.2.2
openai==0.27.10
opencv-contrib-python==4.8.1.78
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
OPi.GPIO==0.5.2
opt-einsum==3.3.0
opticalmaterialspy==0.3.3
optree==0.11.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.3
pefile==2023.2.7
pexpect==4.9.0
Pillow==10.1.0
platformdirs==3.11.0
plotly==5.20.0
pluggy==1.4.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==3.20.3
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.14
pycparser==2.21
pycryptodome==3.19.0
pydantic==1.10.15
pydantic-yaml==0.4.3
pyFirmata==1.1.0
pyftdi==0.55.0
pygame==2.5.2
pygame-ce==2.4.1
pygame_gui==0.6.10
Pygments==2.17.2
pygpiod==0.2
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
PyJWT==2.8.0
pynmea2==1.19.0
pyOpenSSL==24.1.0
pyparsing==3.1.1
pypiwin32==223
pyproj==3.6.1
pyproject_hooks==1.0.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyserial==3.5
PySocks==1.7.1
pyTelegramBotAPI==4.14.0
pytest==8.1.1
pytest-lazy-fixture==0.6.3
python-dateutil==2.8.2
python-dotenv==1.0.1
python-engineio==4.8.0
python-i18n==0.3.9
python-json-logger==2.0.7
python-Levenshtein==0.25.1
python-slugify==8.0.1
python-socketio==5.10.0
python-telegram-bot==20.6
pythonnet==3.0.3
pyttsx3==2.90
pytz==2023.3.post1
pyusb==1.2.1
pywin32==306
pywin32-ctypes==0.2.2
pywinpty==2.0.13
PyYAML==6.0.1
pyzmq==26.0.3
qtconsole==5.5.2
QtPy==2.4.1
rapidfuzz==3.9.1
rasterio==1.3.10
reedsolo==1.7.0
referencing==0.35.1
regex==2024.4.16
requests==2.31.0
requests-oauthlib==1.3.1
retina-face==0.0.17
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.0
rpds-py==0.18.1
RPLCD==1.3.1
rsa==4.9
scikit-fuzzy==0.4.2
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
selenium==4.27.1
semver==3.0.2
Send2Trash==1.8.3
serial==0.0.97
sh==2.0.6
shapely==2.0.4
simple-websocket==1.0.0
simplekml==1.3.6
six==1.16.0
smbus2==0.4.3
smmap==5.0.1
sniffio==1.3.0
snuggs==1.4.7
sortedcontainers==2.4.0
sounddevice==0.4.6
soupsieve==2.5
SpeechRecognition==3.10.0
stack-data==0.6.3
starlette==0.27.0
stem==1.8.2
supervision==0.19.0
sympy==1.12
tenacity==8.2.3
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-estimator==2.14.0
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado==0.18.1
text-unidecode==1.3
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tiktoken==0.3.3
tinycss2==1.3.0
toga==0.4.2
toga-core==0.4.2
toga-winforms==0.4.2
tomli==2.0.1
tomli_w==1.0.0
torch==2.2.2
torchvision==0.17.2
tornado==6.4.1
tqdm==4.66.2
traitlets==5.14.2
travertino==0.3.0
trio==0.28.0
trio-websocket==0.11.1
types-python-dateutil==2.8.19.14
types-PyYAML==6.0.12.20240311
typing_extensions==4.12.2
tzdata==2023.3
ultralytics==8.1.45
unlzw3==0.2.2
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.0.7
uvicorn==0.22.0
virtualenv==20.25.0
waitress==2.1.2
watchfiles==0.21.0
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.1
widgetsnbextension==4.0.10
wrapt==1.14.1
wsproto==1.2.0
xarray==2024.5.0
xyzservices==2024.6.0
yarl==1.9.4
zipp==3.17.0
